<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="AuthenticationService"
                address="net.tcp://localhost:9000/adventureworks/authentication"
                binding="netTcpBinding"
                bindingConfiguration="AdventureWorksServiceBinding"
                contract="AdventureWorks.EmployeeManager.Services.IAuthenticationService"/>
      <endpoint name="HumanResourcesService"
                address="net.tcp://localhost:9000/adventureworks/humanresources"
                binding="netTcpBinding"
                bindingConfiguration="AdventureWorksServiceBinding"
                contract="AdventureWorks.EmployeeManager.Services.IHumanResourcesService"/>
    </client>
    <bindings>
      <!--  Following is the expanded configuration section for a NetTcpBinding.
            Each property is configured with the default values.
            See the Message Security, and Transport Security samples in the WS binding samples
            to learn how to configure these features.  -->
      <netTcpBinding>
        <binding name="AdventureWorksServiceBinding" 
                 closeTimeout="00:01:00" 
                 openTimeout="00:01:00" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:01:00" 
                 transactionFlow="false" 
                 transferMode="Buffered" 
                 transactionProtocol="OleTransactions" 
                 hostNameComparisonMode="StrongWildcard" 
                 listenBacklog="10" 
                 maxBufferPoolSize="64000000" 
                 maxBufferSize="64000000" 
                 maxConnections="10" 
                 maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>